
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
header {
  background: red;
  align-content: center;
}
content {
  text-align: center;
  text-emphasis-color: aqua;
}
#carousel-item active {
  width: 20%;
  border-radius: 20px;
}
.home-products {
  font-family: 'Montserrat', sans-serif;
  font-family: "Audiowide", sans-serif;
  padding-top: 25px;
  color: black;
}
.home-products .row {
  flex-direction: column;
}
.home-products .products-wrapper {
  display: inline-table;
  justify-content: space-between;
}
.home-products .products-wrapper #all-products {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.home-products .products-wrapper .product {
  width: 205px;
}
.home-products .products-wrapper .product .img {
  background: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 0.01%, #E6E6E6 100%);
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
}
.card {
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;
  display: inline-table;
  margin-left: 5%;
  margin-top: 2%;
}
.card .card-sub {
  margin-top: 1%;
}
.card-title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}
.btn {
  background: #227E27;
  text-align-last: center;
  border-radius: 10px;
  padding: 7px,12px;
  margin-top: 5%;
}
#h3 {
  font-family: 'Montserrat', sans-serif;
}
#img {
  border-radius: 10px;
}
.btn-buy {
  color: aliceblue;
}
#video_background {
  margin-top: 2%;
}
.footer-block {
  background: #227E27;
  width: 100%;
  height: 200px;
  margin-bottom: 1%;
}
footer {
  color: aliceblue;
  background: #227E27;
  padding: 34px 0;
  font-size: 12px;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
footer .wrapper .footer-left .phone {
  display: flex;
  justify-content: space-between;
}
footer .wrapper .footer-left .phone .phone-items {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
footer .wrapper .footer-left .phone .phone-items:last-child {
  margin-right: 0;
}
footer .wrapper .footer-left .phone .phone-items span {
  font-size: 12.3407px;
  line-height: 32px;
  color: #FFFFFF;
}
footer .wrapper .footer-left .phone .phone-items a {
  font-weight: 500;
  font-size: 18.511px;
  line-height: 39px;
  color: #FFFFFF;
}
footer .wrapper .footer-left .phone .phone-items a:hover {
  text-decoration: none;
}
.booking {
  margin-top: 2%;
  text-align: center;
  padding: 2%;
  width: 35%;
  height: 35%;
  margin-left: 30%;
  padding: inherit;
  color: black;
  border-radius: 10%;
}
.btn-book {
  width: 100px;
  height: 100px;
}
.about-class {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  margin: 10px auto 20px;
  display: block;
}
.map {
  margin: 10px auto 20px;
  display: block;
  width: 50%;
  height: 50;
}
.ab {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}
.abb {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}
.otz {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url("delete-icn.svg") no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
.image {
  margin-right: 50px;
}
 
Let’s add some basic style to  product name and description.
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 100%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
.basket{
    width: 40px;
    height: 40px;
    margin-right: 20%;
}
.total{
    width: 100%;
    height: 20%;
    text-align: right;
    margin-top:20px;
    
}
.input_type {
    padding:8px;
    border:1px solid #ccc;
    display:block;
    border-bottom:1px solid #ccc;
    width:25%
}
.sub_btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.input_type {
    padding:8px;
    border:1px solid #ccc;
    display:block;
    border-bottom:1px solid #ccc;
    width:25%
}
.sub_btn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

